name: TodoList NestJS CI

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
      
      steps:
        - uses: actions/checkout@v1
        - run: npm install -g yarn
        - run: yarn
        - 
